* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quiz-start-box {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.top-header p {
    float: right;
}

.main-outer-container {
    padding: 10px;
}