* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.quiz-start-box {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 25vh;
}

.top-header p {
    float: right;
}

.inside-container {
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.question {
    margin-bottom: 15px;
    font-size: 24px;
}

.startButton:hover,
.btn:hover{
    background-color: rgb(9, 189, 221);
}

#question-container.hide {
    display: none;
}

#question-container {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50%;
  }
  
  .question {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgb(9, 189, 221);
  }
  
  /* All done page */
.all-done-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .all-done-header {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .final-score {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .restart-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(9, 189, 221);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .restart-button:hover {
    background-color: #0b98b3;
  }
  